  body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.logo {
  height: 40px;
  width: 136px;
}

.navListContainer {
  margin-left: 88px;
}

.nav-item-link {
  font-size: 15px;
}

.icon {
  font-size: 12px;
  margin-left: -3px;
  margin-top: 3px;
}

.signUpButton {
  padding: 6.5px 12.8px;
  font-size: 13px;
  color: #202124;
}

.buyNowButton {
  background-color: #09B850;
  padding: 6.5px 12.8px;
}

.drp-item {
  font-weight: 300;
  transition: all 0.3s ease-in-out;
  font-size: 15.5px;
}

.drp-item:hover {
  color: rgb(9, 184, 80);
}

.dropdown-menu {
  box-shadow: 0 0.125rem 0.25rem rgba(29, 58, 83, 0.15) !important;
  border: 1px solid #dce0e5 !important;
}

.dropdown-item:hover {
  background-color: black !important;
}

.decoration-pattern-container {
  margin-top: -81px;
  margin-left: -65px;
}

.hero-section-left-side {
  margin-top: -12px !important;
}

/* Hero Section Animation Curosor */
.typed-cursor,
.animate-text {
  color: rgb(9, 184, 80);
  font-size: 57.6px;
}

.company-images {
  width: 126px;
  height: 32px;
}

.digital-exp-one-image-container {
  width: 284px;
  height: 412px;
}

.second-image-div {
  margin-top: 170px;
  margin-left: -100px;
}

.two-img {
  height: 388px !important;
  width: 300px !important;
}

.experience-right {
  margin-left: -150px !important;
}

/* Specialization */
.specialization {
  margin: 80px 0;
  background-color: #202124;
  padding-bottom: 100px;
}

.specialization-header {
  padding-top: 80px 0;
  max-width: 700px;
  margin: 0 auto;
}

.specialization-header span {
  background-color: #292a2d !important;
}

.spicialization-card {
  background-color: #292a2d !important;
  padding: 5px 5px 0;
}

.icon-div {
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  font-size: 1.2rem;
  top: -35px;
  color: #09B850 !important;
}

.card-footer {
  color: #09B850 !important;
  border: 0 !important;
  margin-top: -20px !important;
}

/* specialization ends */

/* Plan Start */
.card-image {
  width: 120px;
  height: 156px;
}

.boss-mode {
  font-size: 12px;
  padding: 4.2px 7.8px
}

/* Plan End */

/* Reivew */
.review-text {
  font-weight: 500;
}

.client-image {
  height: 40px;
  width: 40px;
}

/* Reivew end */

/* Footer */
.store {
  height: 40px;
  width: 110px;
}

/* Footer ends */

/* Media Queries */
@media(max-width:800px) {
  .navListContainer {
    margin-left: 0;
  }

  .icon {
    margin-left: 5px;
  }

  .main-heading {
    font-size: 37px !important;
  }

  .companies {
    position: relative;
    top: 150px;
  }

  .company-images {
    height: 150px;
  }

  .left-side-container {
    display: flex;
  }

  .experience {
    margin-top: 150px !important;
  }

  .third-card {
    height: 350px;
  }

  .plan {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
  }
}

@media(max-width:425px) {
  .hero-section {
    margin-top: 30px;
  }

  .left-side-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .digital-exp-one-image {
    width: 400px !important;
    text-align: center;
  }

  .numbers-container {
    display: flex;
    flex-direction: column;
  }

  .numbers-box {
    width: 288px !important;
    margin: 20px 0;
    margin-left: -100px;
  }

  .second-image-div {
    margin-left: 125px;
    padding: 0;
    margin-top: 150px;
  }

  .two-img {
    width: 288px !important;
    margin-left: -110px;
    margin-top: -35px;
  }

  .hero-section-image-container {
    margin-top: 0px !important;
  }

  .animate-text {
    font-size: 45px;
  }
}

@media(min-width:1440px) {
  .companies {
    position: relative;
    padding-top: 150px !important;
  }
}