.logo {
  height: 40px;
  width: 136px;
}

.navListContainer {
  margin-left: 88px;
}

.nav-item-link {
  font-size: 15px;
  font-weight: 500;
  color: #606261;
}

.icon {
  font-size: 12px;
  margin-left: -3px;
  margin-top: 3px;
}

.signUpButton {
  padding: 6.5px 12.8px;
  font-size: 13px;
  color: #202124;
}

.buyNowButton {
  background-color: #09B850;
  padding: 6.5px 12.8px;
}

.drp-item {
  font-weight: 300;
  transition: all 0.3s ease-in-out;
  font-size: 15.5px;
}

.drp-item:hover {
  color: rgb(9, 184, 80);

}

.dropdown-menu {
  box-shadow: 0 0.125rem 0.25rem rgba(29, 58, 83, 0.15) !important;
  border: 1px solid #dce0e5 !important;
}

.dropdown-item:hover {
  background-color: black !important;
}

.decoration-pattern-container {
  margin-top: -83px;
  margin-left: -65px;
}

/* .main-heading{
  font-family: "Instrument Sans", sans-serif !important;
} */

/* Hero Section Animation Curosor */
.typed-cursor,
.animate-text {
  color: rgb(9, 184, 80);
}

.company-images {
  width: 126px;
  height: 32px;
}

.digital-exp-one-image-container {
  width: 284px;
  height: 412px;
}

.second-image-div {
  margin-top: 170px;
  margin-left: -100px;

}

.two-img {
  height: 388px !important;
  width: 300px !important;
}

.experience-right {
  margin-left: -150px !important;
}



/* Media Queries */
@media(max-width:800px) {
  .navListContainer {
    margin-left: 0;
  }

  .icon {
    margin-left: 5px;
  }

  .main-heading {
    font-size: 37px !important;
  }

  .companies {
    position: relative;
    top: 150px;
  }

  .company-images {
    height: 150px;
  }

  .left-side-container {
    display: flex;
  }

  .experience {
    margin-top: 150px !important;
  }
}


@media(max-width:425px) {
  .left-side-container {
    display: flex;
    flex-direction: column;
  }

  .digital-exp-one-image {
    width: 400px !important;
    text-align: center;
    margin-left: 55px;
  }

  .numbers-container {
    display: flex;
    flex-direction: column;
    background: red;
  }

  .numbers-box {
    width: 350px !important;
    margin: 20px 0;
  }

  .second-image-div {
    margin: 0;
    padding: 0;
    margin-top: 150px;
  }

  .two-img {
    width: 75px;
  }
}