.loading {
    height: 100%;
    width: 100%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;

    z-index: 10245;
}

.follow {
    position: absolute;
    /* background-color: #f7f7f78f; */
    background-color: rgb(63, 230, 63);
    left: 0;
    width: 0;
    height: 2px;
    /* z-index: 2; */
    z-index: 10246;
}

.progress-bar {
    position: absolute;
    left: 0;
    height: 2px;
    background-color: white !important;
    transition: 0.4s ease-in-out;
    width: 0;
}

.count {
    position: absolute;
    font-size: 130px;
    color: white;
    font-weight: 500;
    transform: translateY(-15px);
    /* opacity: 1; */
}

.content {
    background-color: white;
    height: auto;
    width: 0;
    overflow: hidden;
    z-index: 10247;
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;
    color: black;
}

.main {

    opacity: 0;
    display: none;

}

/* .app-container {
    width: 100dvw;
    height: 100dvh;
    color: black;
    position: relative;
    text-align: center;
} */

@media(max-width:640px){
    .count{
        font-size:65px;
    }
}